<?xml version="1.0"?>
  <model>
    <name>tangymodel</name>
    <version>1.0</version>
    <sdf>urdf/tangymodel.urdf</sdf>
    <author>
      <name>Jacob Li</name>
      <email>zhonghe.li@mail.utoronto.ca</email>
    </author>
    <description>
      A really cool robot
    </description>
  </model>
